
@{
    ViewData["Title"] = "StudentInfo";
}

<h1>StudentInfo</h1>
@{ 
    var std = new Student();
    var std1 = std.StudenInfo();

}

<table style="border: 1px solid black">
    <tr style="border:1px solid black">
        <th>StudentId</th>
        <th>Name</th>
        <th>Branch</th>
        <th>Section</th>
        <th>Gender</th>
    </tr>
    @foreach (var item in std1)
    {
<tr style="border:1px solid black">
    <td style="border:1px solid black">@item.StudentId</td>
    <td style="border:1px solid black">@item.Name</td>
    <td style="border:1px solid black">@item.Branch</td>
    <td style="border:1px solid black">@item.Section</td>
    <td style="border:1px solid black">@item.Gender</td>
</tr>
    }

</table>
